@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sides {
    @apply mx-auto max-w-[1600px] px-4 xl:px-20;
  }

  .sides-scale {
    @apply p-4 xl:p-8;
  }

  .sides-scale-x {
    @apply px-4 xl:px-8;
  }
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: gray;
}

/* Used for the spinner found at https://css-loaders.com/spinner/ */
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid rgba(217, 217, 217, 0.314);
  border-right-color: rgb(202, 202, 202);
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
